<div class="landing">
    <div class="center">
        <button mat-raised-button color="primary" (click)="newGame()" [disabled]="commsService.working">Crear partida</button>
    </div>

    <div class="break"></div>

    <div class="center">
        <mat-form-field appearance="fill">
            <mat-label>Codigo de partida</mat-label>
            <input matInput placeholder="XXXX" [(ngModel)]="codeGame">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="joinGame()" [disabled]="commsService.working || this.codeGame.length < 4">Unirse a partida</button>
    </div>
</div>
<a routerLink="testPack" class="link">Abridor de packs</a>
