<div class="cardlist">

    <h1>Común</h1>
    <div class="container">
        <game-card *ngFor="let c of common" [class]="c[1]" rarity="common" [name]="c[0]"></game-card>
    </div>

    <h1>Poco común</h1>
    <div class="container">
        <game-card *ngFor="let c of uncommon" [class]="c[1]" rarity="uncommon" [name]="c[0]"></game-card>
    </div>

    <h1>Raro</h1>
    <div class="container">
        <game-card *ngFor="let c of rare" [class]="c[1]" rarity="rare" [name]="c[0]"></game-card>
    </div>

    <h1>Épico</h1>
    <div class="container">
        <game-card *ngFor="let c of epic" [class]="c[1]" rarity="epic" [name]="c[0]"></game-card>
    </div>

    <h1>Legendario</h1>
    <div class="container">
        <game-card *ngFor="let c of legendary" [class]="c[1]" rarity="legendary" [name]="c[0]"></game-card>
    </div>
</div>


<link rel="stylesheet" href="/assets/pokesprite-pokemon-gen8.css"/>
<link rel="stylesheet" href="/assets/pokesprite-inventory.css" />