<div class="cardlist">

    <h1>Common</h1>
    <div class="container">
        <game-card *ngFor="let c of common" [class]="c[1]" rarity="common" [name]="c[0]"></game-card>
    </div>

    <h1>Uncommon</h1>
    <div class="container">
        <game-card *ngFor="let c of uncommon" [class]="c[1]" rarity="uncommon" [name]="c[0]"></game-card>
    </div>

    <h1>Rare</h1>
    <div class="container">
        <game-card *ngFor="let c of rare" [class]="c[1]" rarity="rare" [name]="c[0]"></game-card>
    </div>

    <h1>Epic</h1>
    <div class="container">
        <game-card *ngFor="let c of epic" [class]="c[1]" rarity="epic" [name]="c[0]"></game-card>
    </div>

    <h1>Legendary</h1>
    <div class="container">
        <game-card *ngFor="let c of legendary" [class]="c[1]" rarity="legendary" [name]="c[0]"></game-card>
    </div>
</div>


<link rel="stylesheet" href="/assets/pokesprite-pokemon-gen8.css"/>
<link rel="stylesheet" href="/assets/pokesprite-inventory.css" />